{% extends "base.html" %}

{% block content %}
<div class="p-3 mb-2 bg-secondary text-white column justify-content-center", style="width:30%">
    <form action="" method="post">
        <p>
            <h4>Current date</h4>
            {{ form.date(type="submit", class="btn btn-info", id="1") }}
        </p>
        <p>
            <h4>Cool calendar</h4>
            {{ form.random(type="submit", class="btn btn-primary", id="2") }}
        </p>
        <p>
            <h4>Server uptime</h4>
            {{ form.uptime(type="submit", class="btn btn-warning", id="3") }}
        </p>
    </form>
</div>
{% endblock %}